<section>
    <div class="behavior-input">
        <div class="behavior-item" ng-repeat="behavior in behaviors">
            <div class="item-name">
                <div class="text" translate>
                    {{behavior.text}}
                </div>
            </div>
            <div class="item-amount">
                <input type="number"
                       class="cmn-custom-slider-input"
                       autocomplete="off"
                       ng-model="behavior.value"
                       min="{{behavior.min}}"
                       max="{{behavior.max}}"
                       step="15" />
            </div>
            <div class="item-slider">
                <rzslider rz-slider-model="behavior.value"
                          rz-slider-floor="behavior.min"
                          rz-slider-ceil="behavior.max"></rzslider>
            </div>
        </div>

        <div class="cmn-button-wrapper ">
            <!--<a class="cmn-button tm-button-orange" ui-sref="app.games.game.currentResult({game:game.$loki})">Submit</a>-->
            <a class="cmn-button tm-button-orange" ng-click="startGame()">Submit</a>
        </div>

    </div>
</section>