<div class="separator"></div>

<div class="game-goals">
    <div class="cmn-table-wrapper">
        <div class="info">
            <div class="name">{{game.name}}</div>
            <div class="rating-wrapper">
                <div class="cmn-star-rating" data-rating-value="{{game.rating}}">
                        <span class="icon-Review_icon star"
                              ng-repeat="i in [1,2,3,4,5]"
                              ng-class="{'is-star-active': i<=game.rating}"></span>
                </div>
            </div>
        </div>
        <div class="badge-text" ng-switch="game.badge">
            <span ng-switch-when="0"> Bronze medal </span>
            <span ng-switch-when="1"> Silver medal </span>
            <span ng-switch-when="2"> Gold medal </span>
        </div>
        <div class="cmn-badge"
             ng-class="{'tm-badge-bronze' : game.badge === 0,
                            'tm-badge-silver' : game.badge === 1,
                            'tm-badge-gold'   : game.badge === 2}">
        </div>
    </div>

    <div class="last-game">
        <div class="cmn-title">just now</div>
        <div class="last-game-table">
            <div class="title">
                <div class="text">
                    Maintain 75% of attention
                    <br />or higher
                </div>
                <div class="col">
                    <div class="cmn-button-round">
                        <span class="icon-check34"></span>
                    </div>
                </div>
            </div>

            <div class="game-info-block">
                <div class="progressbar-wrapper">
                    <progressbar class="progress-striped active" value="game.attention" type="success"></progressbar>
                </div>
                <div class="orientation">
                    <div class="text">Attention</div>
                    <div class="progressbar-percent">{{game.attention}} %</div>
                </div>
                <div class="timing">
                    <div class="cmn-col2-1"><b>{{game.duration}}</b></div>
                    <div class="cmn-col2-2 text">Recovery: <b>{{game.recovery}} s</b></div>
                </div>
                <div class="impulsive text" ng-show="game.impulsive">Impulsive: <b>{{game.impulsive}}</b></div>
                <div class="bottom-border"></div>
            </div>

        </div>
    </div>

    <div class="behavior-progress-wrapper">
        <div class="behavior-progress">
            <div class="behavior-progress-head">
                <div class="cmn-title">behavior progress</div>
                <div class="dropdown-wrapper">
                    <div class="cmn-dropdown">
                        <div class="dropdown">
                            <div class="text no-select">
                                <b>Select Behavior</b>
                                <span class="icon-drop_down_arrow"></span>
                            </div>
                            <ul>
                                <li>Behavior 1</li>
                                <li>Behavior 2</li>
                                <li>Behavior 3</li>
                            </ul>
                        </div>
                        <select>
                            <option value="0">Behavior 1</option>
                            <option value="1">Behavior 2</option>
                            <option value="2">Behavior 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <pa-chart chart-data="barData"
                      chart-type="Bar"
                      chart-options="options"></pa-chart>
        </div>
    </div>

    <div class="cmn-title">previous games</div>

    <div class="past-game">
        <div class="past-game-table">
            <div class="game-info-block">
                <div class="date">Thursday, June 11</div>
                <div class="title-wrapper">
                    <div class="title">
                        <div class="text">Play for 6 minutes</div>
                        <div class="col">
                            <div class="cmn-button-round">
                                <span class="icon-check34"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progressbar-wrapper">
                    <progressbar class="progress-striped active" value="'75'" type="success"></progressbar>
                </div>
                <div class="orientation">
                    <div class="text">Attention</div>
                    <div class="progressbar-percent">75%</div>
                </div>
                <div class="timing">
                    <div class="cmn-col2-1"><b>3:42</b></div>
                    <div class="cmn-col2-2 text">Recovery: <b>4s</b></div>
                </div>
                <div class="impulsive text">Impulsive: <b>2</b></div>
            </div>

        </div>
    </div><div class="past-game">
        <div class="past-game-table">
            <div class="game-info-block">
                <div class="date">Thursday, June 11</div>
                <div class="title-wrapper">
                    <div class="title">
                        <div class="text">Play for 6 minutes</div>
                        <div class="col">
                            <div class="cmn-button-round">
                                <span class="icon-check34"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progressbar-wrapper">
                    <progressbar class="progress-striped active" value="'75'" type="success"></progressbar>
                </div>
                <div class="orientation">
                    <div class="text">Attention</div>
                    <div class="progressbar-percent">75%</div>
                </div>
                <div class="timing">
                    <div class="cmn-col2-1"><b>3:42</b></div>
                    <div class="cmn-col2-2 text">Recovery: <b>4s</b></div>
                </div>
                <div class="impulsive text">Impulsive: <b>2</b></div>
            </div>

        </div>
    </div><div class="past-game">
        <div class="past-game-table">
            <div class="game-info-block">
                <div class="date">Thursday, June 11</div>
                <div class="title-wrapper">
                    <div class="title">
                        <div class="text">Play for 6 minutes</div>
                        <div class="col">
                            <div class="cmn-button-round">
                                <span class="icon-check34"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="progressbar-wrapper">
                    <progressbar class="progress-striped active" value="'75'" type="success"></progressbar>
                </div>
                <div class="orientation">
                    <div class="text">Attention</div>
                    <div class="progressbar-percent">75%</div>
                </div>
                <div class="timing">
                    <div class="cmn-col2-1"><b>3:42</b></div>
                    <div class="cmn-col2-2 text">Recovery: <b>4s</b></div>
                </div>
                <div class="impulsive text">Impulsive: <b>2</b></div>
            </div>

        </div>
    </div>

    <div class="cmn-button-wrapper no-select">
        <a class="cmn-button tm-button-orange" ui-sref="app.games">
            Back to Games
        </a>
    </div>

</div>