<section>
    <div class="separator"></div>

    <div class="game-goals">
        <div class="cmn-table-wrapper">
            <div class="info">
                <div class="name">{{game.name}}</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="{{game.rating}}">
                        <span class="icon-Review_icon star"
                              ng-repeat="i in [1,2,3,4,5]"
                              ng-class="{'is-star-active': i<=game.rating}"></span>
                    </div>
                </div>
            </div>
            <div class="badge-text" ng-switch="game.badge">
                <span ng-switch-when="0"> Bronze medal </span>
                <span ng-switch-when="1"> Silver medal </span>
                <span ng-switch-when="2"> Gold medal </span>
            </div>
            <div class="cmn-badge"
                 ng-class="{'tm-badge-bronze' : game.badge === 0,
                            'tm-badge-silver' : game.badge === 1,
                            'tm-badge-gold'   : game.badge === 2}">
            </div>
        </div>

        <div class="objective-goals">
            <div class="row row-margin">
                <div class="col">
                    <p>Game Objective</p>
                </div>
                <div class="col">
                    <p>Your Goals</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Donec ornare dui orci, ac venenatis purus consectetur eu.
                        Mauris ultrices tellus libero, vel commodo enim molestie vel.
                        Nullam molestie dui eget fermentum condimentum.
                    </div>
                </div>
                <div class="col">
                    <div class="goal">
                        <div class="text">
                            Play for 6 minutes
                        </div>
                        <div class="col">
                            <div class="cmn-button-round">
                                <span class="icon-check34"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="last-game">
            <div class="cmn-title">last game</div>
            <div class="last-game-table">
                <div class="title">
                    <div class="text">
                        Maintain 75% of attention
                        <br />or higher
                    </div>
                    <div class="col">
                        <div class="cmn-button-round">
                            <span class="icon-check34"></span>
                        </div>
                    </div>
                </div>

                <div class="game-info-block">
                    <div class="progressbar-wrapper">
                        <progressbar class="progress-striped active" value="game.attention" type="success"></progressbar>
                    </div>
                    <div class="orientation">
                        <div class="text">Attention</div>
                        <div class="progressbar-percent">{{game.attention}} %</div>
                    </div>
                    <div class="timing">
                        <div class="cmn-col2-1"><b>{{game.duration}}</b></div>
                        <div class="cmn-col2-2 text">Recovery: <b>{{game.recovery}}s</b></div>
                    </div>
                    <div class="impulsive text" ng-show="game.impulsive">Impulsive: <b>{{game.impulsive}}</b></div>
                    <div class="bottom-border"></div>
                </div>

            </div>
        </div>

        <div class="behavior-progress-wrapper">
            <div class="behavior-progress">
                <div class="behavior-progress-head">
                    <div class="cmn-title">behavior progress</div>
                    <div class="dropdown-wrapper">
                        <div class="cmn-dropdown">
                            <div class="dropdown">
                                <div class="text no-select">
                                    Select Behavior
                                    <span class="icon-drop_down_arrow"></span>
                                </div>
                                <ul>
                                    <li>Behavior 1</li>
                                    <li>Behavior 2</li>
                                    <li>Behavior 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <pa-chart chart-data="lineData"
                          chart-type="Line"
                          chart-options="options"></pa-chart>
            </div>
        </div>

        <div class="cmn-button-wrapper no-select">
            <a class="cmn-button tm-button-orange" ui-sref="app.games.game.behavior">Play</a>
        </div>

    </div>

</section>