<div class="separator"></div>
<div class="games-page">
    <a class="game-info-block" ui-sref="app.games.game({game: game.$loki})" ng-repeat="game in games">
        <div class="rating">
            <div class="cmn-badge"
                 ng-class="{'tm-badge-bronze' : game.badge === 0,
                            'tm-badge-silver' : game.badge === 1,
                            'tm-badge-gold'   : game.badge === 2}">
            </div>
            <div class="info">
                <div class="name">{{game.name}}</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="{{game.rating}}">
                        <span class="icon-Review_icon star"
                              ng-repeat="i in [1,2,3,4,5]"
                              ng-class="{'is-star-active': i<=game.rating}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-poster-wrapper">
            <div class="game-poster">
                <img src="https://unsplash.it/300/180/?random" />
            </div>
        </div>
        <div class="progressbar-wrapper">
            <progressbar class="progress-striped active" value="game.attention" type="success"></progressbar>
        </div>
        <div class="orientation">
            <div class="text">Attention</div>
            <div class="progressbar-percent">{{game.attention}} %</div>
        </div>
        <div class="timing">
            <div class="cmn-col2-1"><b>{{game.duration}}</b></div>
            <div class="cmn-col2-2 text">Recovery: <b>{{game.recovery}}s</b></div>
        </div>
        <div class="impulsive text" ng-show="game.impulsive">Impulsive: <b>{{game.impulsive}}</b></div>
        <div class="bottom-border"></div>
    </a>
</div>
<div class="separator"></div>
<div class="separator"></div>
<div class="separator"></div>
