<img class="helper-img" src="assets/images/helper_img.png">
<div class='message'>
    <h1>Hey, {{user.firstName}}!</h1>
    <p>You've achieved your goals last time.</p>
    <p> Ready to play again?</p>
    </div>
<div class='faq-wrapper'>
    <div class='faq'>
        <span class='icon-question'></span>
        </div>
    </div>