.custom-bar-label {
    fill: #ffffff;
    font-family: "SIGNIKA-REGULAR";
}
.ct-perfect-fourth {
    height: 100%;
}
.ct-circle {
    fill: #7cc63c;
    stroke: #ffffff;
    stroke-width: 6;
}
.ct-label {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
}
.ct-label .ct-horizontal .ct-end {
    text-align: center;
}
.ct-grid {
    stroke-dasharray: none;
    stroke-width: 2px;
}
.ct-vertical {
    margin-left: -10px;
    padding-top: 10px;
}
.ct-horizontal {
    display: block !important;
    padding-top: 10px;
    text-align: center !important;
}
.ct-chart .ct-line {
    stroke-width: 3px;
}
.ct-point {
    stroke-width: 20px;
    z-index: 11;
}
.ct-point-border {
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-width: 32px;
}
