<img class="helper-img" src="assets/images/helper_img.png"/>
<div class='message'>
    <p>Good Work Today!</p>
    <p>You played <b class="blue">4</b> games for a total of <b>15 minutes!</b></p>
</div>