<div class="game-progress">
    <div class="cmn-title">game progress</div>
    <div class="games cmn-col2-1 no-select">
        <div class="game">
            <div class="cmn-badge tm-badge-gold"></div>
            <div class="info">
                <div class="purpose">Attention Stamina:</div>
                <div class="name">Ocean Quest</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="5">
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game is-game-active">
            <div class="cmn-badge tm-badge-gold"></div>
            <div class="info">
                <div class="purpose">Visual Tracking:</div>
                <div class="name">Follow Me</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="4">
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game">
            <div class="cmn-badge tm-badge-silver"></div>
            <div class="info">
                <div class="purpose">Time on Task:</div>
                <div class="name">Construction Zone</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="3">
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game">
            <div class="cmn-badge tm-badge-silver"></div>
            <div class="info">
                <div class="purpose">Short Term Memory:</div>
                <div class="name">Memory Lane</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="3">
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game">
            <div class="cmn-badge tm-badge-bronze"></div>
            <div class="info">
                <div class="purpose">Discriminatory Processing:</div>
                <div class="name">Galaxy Defender</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="2">
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="game">
            <div class="cmn-badge tm-badge-bronze"></div>
            <div class="info">
                <div class="purpose">Academic Bridge:</div>
                <div class="name">Academic Bridge</div>
                <div class="rating-wrapper">
                    <div class="cmn-star-rating" data-rating-value="1">
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                        <span class="icon-Review_icon star"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="goal-table cmn-col2-2">
        <div class="goal-title">
            <div class="goal-title-icon">
                <div class="cmn-button-round">
                    <span class="icon-check34"></span>
                </div>
            </div>
            <div class="goal-title-text">Maintain a goal of <b>69%</b> or higher</div>
        </div>
        <div class="goal-body">
            <div class="row-head">
                <div class="col-head">
                    <div class="text">Last</div>
                </div>
                <div class="col-head">
                    <div class="text">Average</div>
                </div>
                <div class="col-head">
                    <div class="text">Best</div>
                </div>
            </div>
            <div class="row-title">Duration</div>
            <div class="goal-row duration">
                <div class="goal-col">1:20</div>
                <div class="goal-col">
                    <b>4:49</b>
                    <div class="changes-wrapper">
                        <div class="changes degrade">
                            <div class="text">6</div>
                        </div>
                    </div>
                </div>
                <div class="goal-col ">1:22</div>
            </div>
            <div class="row-title ">Attention</div>
            <div class="goal-row attention">
                <div class="goal-col ">68%</div>
                <div class="goal-col ">
                    <b>70%</b>
                    <div class="changes-wrapper">
                        <div class="changes update">
                            <div class="text">2</div>
                        </div>
                    </div>
                </div>
                <div class="goal-col ">87%</div>
            </div>
            <div class="row-title ">Recovery</div>
            <div class="goal-row recovery">
                <div class="goal-col ">6:23</div>
                <div class="goal-col ">
                    <b>7:25</b>
                    <div class="changes-wrapper">
                        <div class="changes update">
                            <div class="text">4</div>
                        </div>
                    </div>
                </div>
                <div class="goal-col ">8:20</div>
            </div>
            <div class="goal-row no-border last">
                <div class="goal-col ">9</div>
                <div class="goal-col ">
                    <b>8</b>
                    <div class="changes-wrapper">
                        <div class="changes degrade">
                            <div class="text"></div>
                        </div>
                    </div>
                </div>
                <div class="goal-col ">2</div>
            </div>
        </div>
    </div>
</div>

<div class="behavior-progress">
    <div class="cmn-title">behavior progress</div>
    <div class="behavior-actions">
        <div class="graph-button radius-left no-select">Over Time</div>
        <div class="graph-button is-button-active radius-right no-select">Per Game</div>
        <div class="dropdown-wrapper">
            <div class="cmn-dropdown">
                <div class="dropdown">
                    <div class="text no-select">
                        Select Behavior
                        <span class="icon-drop_down_arrow"></span>
                    </div>
                    <ul>
                        <li>Behavior 1</li>
                        <li>Behavior 2</li>
                        <li>Behavior 3</li>
                    </ul>
                </div>
                <select>
                    <option value="0">Behavior 1</option>
                    <option value="1">Behavior 2</option>
                    <option value="2">Behavior 3</option>
                </select>
            </div>
        </div>
    </div>
    <div class="graph">
        <div class="ct-chart ct-perfect-fourth"></div>
    </div>
</div>


<div class="journal">
    <div class="cmn-title">journal</div>
    <div class="l-journal-left cmn-col2-1">
        <div class="journal tm-journal1">
            <div class="jl-title">what i've learned</div>
            <div class="white-line"></div>
            <textarea class="jl-text">I've done this and learned to be more attentive.The game was pretty useful for my attention training.</textarea>
            <span class="pencil icon-journal_bg"></span>
        </div>
    </div>
    <div class="l-journal-right cmn-col2-2">
        <div class="journal tm-journal1">
            <div class="jl-title">what i'm proud of</div>
            <div class="white-line"></div>
            <textarea class="jl-text">I proud of my reaction and magnificent ability to pass these difficult games.Recently i've achieved advanced level on Attention Stamina game.</textarea>
            <span class="pencil icon-journal_bg"></span>
        </div>
    </div>
    <div class="journal tm-journal2">
        <div class="jl-title">what i need to improve</div>
        <div class="white-line"></div>
        <div class="jl-text">
            I need to learn to be more attentive and patient.
            So these are really important skills for me.
            Try my best and everything will be great and dandy!
        </div>
    </div>
</div>

<div class="cmn-button-wrapper no-select">
    <a class="cmn-button tm-button-orange" ui-sref="app.games">Let's Play</a>
</div>