<div class="authorization">
    <div class="welcome-message">Welcome Back to</div>
    <img class="logo" src="assets/images/logo_img.png" />
    <input type="text" class="cmn-textbox" placeholder="Username" ng-model="login"/>
    <input type="password" class="cmn-textbox" placeholder="Password" ng-model="password"/>
    <div class="cmn-dropdown">
        <div class="dropdown">
            <div class="text no-select">
                {{coach?coach.name:'Select Coach1'}}
                <span class="icon-drop_down_arrow"></span>
            </div>
            <ul>
                <li ng-repeat="coach in coaches" ng-click="assignCoach(coach)">{{coach.name}}</li>
            </ul>
        </div>
    </div>
    <a class="cmn-button tm-button-orange" ng-click="signIn()">Login</a>
</div>