<div class="l-header">
    <div class="l-container">
        <img class="logo" src="assets/images/logo_img.png">
        <div class="coach" ng-hide="$state.current.data.hideNav">
            <div class="icon-coach"></div>
            <div class="text">
                Coach:<br>
                <b>{{coach.firstName + ' ' +coach.lastName}}</b>
            </div>
        </div>
    </div>
</div>
<div class="l-navigator" ng-hide="$state.current.data.hideNav">
    <div class="l-container">
        <div class="nav-panel-wrapper">
            <div class="nav-panel no-select">
                <a class="panel-item tm-button-orange" ui-sref="app.review">

                    <div class="text">
                        <span class="icon-Review_icon star"></span>
                        <div class="item-name">review</div>
                    </div>
                </a>
                <a class="panel-item tm-button-blue" ui-sref="app.games">
                    <div class="text">
                        <span class="icon-Games_icon"></span>
                        <div class="item-name">games</div>
                    </div>
                </a>
                <a class="panel-item tm-button-green" ui-sref="app.rewards">
                    <div class="text">
                        <span class="icon-rewards_icon"></span>
                        <div class="item-name">rewards</div>
                    </div>
                </a>
                <a class="panel-item tm-button-white" ui-sref="app.profile">
                    <div class="arrow icon-drop_down_arrow"></div>
                    <div class="text text-state">
                        <img class="icon" src="http://lorempixel.com/50/50">
                        <div class="user">
                            <div class="name">{{user.firstName + ' ' + user.lastName }}</div>
                            <div class="number">98</div>
                        </div>

                    </div>
                </a>
            </div>
        </div>
        <div class="helper" ui-view="header">
            <img class="helper-img" src="assets/images/helper_img.png">
        </div>
    </div>
</div>
<div class="l-maincontent">
    <div class="l-container" ui-view="content">
    </div>
</div>